@page "/Account/Logout"

<PageTitle>LogOut</PageTitle>

<form method="post" action="api/account/logout">
	<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Logout</MudButton>
</form>